 
{% extends 'myapp/basic.html' %}
{% load static %}
{% block title %}Log In{% endblock %}
{% block body %}
<div class="pt-5"></div><br/>
<p class="ml-5">{{ success }}</p>
<div class="container pt-5">
    
  <form action="{% url 'login' %}" method="POST" style="max-width:500px;margin:auto"> 
    {% csrf_token %}
    <h2>Sign In</h2>
    <span class="text-danger">{{ error }}</span>
    <div class="input-container">
      
      <i class="fa fa-user icon"></i>
      <input class="input-field" type="text" placeholder="Username" name="username" autocomplete="off" required>
    </div>
   
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Password" name="password" required>
    </div>
    <div class="text-center pt-3">New member?<a href="{% url 'signup' %}" class="text-danger font-weight-bold"> Sign up</a></div>
    <button type="submit" class="btn btn-primary btn-lg">Register</button>
  
  </form>
  </div>

  {% endblock %}